<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>Your worries</title>
  <link rel="stylesheet" href="ShowOff.css" />
  <script
    src="https://kit.fontawesome.com/2d323a629b.js"
    crossorigin="anonymous"
  ></script>
</head>

<body id="showoff">
  <div class="box-container">
    <div class="PersonProfile">
      <img class="WorryPageProfile" src="/src/images/wittgenstein.jpeg" />
      <div>
        <span class="name"> Wittgenstein</span>
      </div>
    </div>
    <img class="ShowOffPageProfile" src="/src/images/showOffpageimage.png" />
    <div class="viewsIcon-container">
      <span class="views"> 15 people made answers</span>
      <ul class="actions">
        <li>
          <button><i class="fas fa-bookmark"></i></button>
        </li>
        <li>
          <button><i class="fas fa-comment"></i></button>
        </li>
        <li>
          <button><i class="fas fa-share"></i></button>
        </li>
      </ul>
    </div>
    <div class="SubText">
      New family Members
      <br />
      how adorable they are~
    </div>
  </div>

  <div class="box-container">
    <div class="PersonProfile">
      <img class="WorryPageProfile" src="/src/images/wittgenstein.jpeg" />
      <div>
        <span class="name"> Wittgenstein</span>
      </div>
    </div>
    <img class="ShowOffPageProfile" src="/src/images/showOffpageimage.png" />
    <div class="viewsIcon-container">
      <span class="views"> 15 people made answers</span>
      <ul class="actions">
        <li>
          <button><i class="fas fa-bookmark"></i></button>
        </li>
        <li>
          <button><i class="fas fa-comment"></i></button>
        </li>
        <li>
          <button><i class="fas fa-share"></i></button>
        </li>
      </ul>
    </div>
    <div class="SubText">
      New family Members
      <br />
      how adorable they are~
    </div>
  </div>

  <div class="box-container">
    <div class="PersonProfile">
      <img class="WorryPageProfile" src="/src/images/wittgenstein.jpeg" />
      <span class="name"> Wittgenstein</span>
    </div>
    <img class="ShowOffPageProfile" src="/src/images/showOffpageimage.png" />
    <div class="viewsIcon-container">
      <span class="views"> 15 people made answers</span>
      <ul class="actions">
        <li>
          <button><i class="fas fa-bookmark"></i></button>
        </li>
        <li>
          <button><i class="fas fa-comment"></i></button>
        </li>
        <li>
          <button><i class="fas fa-share"></i></button>
        </li>
      </ul>
    </div>
    <div class="SubText">
      New family Members
      <br />
      how adorable they are~
    </div>
  </div>

  <div class="box-container">
    <div class="PersonProfile">
      <img class="WorryPageProfile" src="/src/images/wittgenstein.jpeg" />
      <div>
        <span class="name"> Wittgenstein</span>
      </div>
    </div>
    <img class="ShowOffPageProfile" src="/src/images/showOffpageimage.png" />
    <div class="viewsIcon-container">
      <span class="views"> 15 people made answers</span>
      <ul class="actions">
        <li>
          <button><i class="fas fa-bookmark"></i></button>
        </li>
        <li>
          <button><i class="fas fa-comment"></i></button>
        </li>
        <li>
          <button><i class="fas fa-share"></i></button>
        </li>
      </ul>
    </div>
    <div class="SubText">
      New family Members
      <!-- 두 텍스트 라인을 br로 끊을 까 말까 고민 -->
      how adorable they are~
    </div>
  </div>
</body>
