
<!DOCTYPE html>
<html>
<head>
    <title>

    </title>

    <link rel="stylesheet" href="ShowOffRegister.css"/>
        <script
        src="https://kit.fontawesome.com/2d323a629b.js"
        crossorigin="anonymous"
        ></script>

</head>


<div class="profile-icon">
    
    <button id="ImageRegister" type="button" class="fas fa-image" >

         </button>
    
</div>

<form class="form-horizontal">
    <table class="table-border text-center table-border">
       
        <tr>
           
            <td>
                <div class="article-title">Article Title</div>
                <input class="form-control-title" type="text" name="title" placeholde=""> 
            </td>
            
        </tr>

        <tr>
            
            <td> 
                <div class="article-body">Article BOdy</div>
                <textarea name="content" class="form-control-body" rows="7" placeholder="write  input text">


                </textarea> 
            </td>

        </tr>
    </table>
</form>
<div class="article-register">
    <button type="button" class="btn-register">

        Showoff Register </button>
  
</div>


</html>