<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Your worries</title>
        <link rel="stylesheet" href="ShowOff.css">
    <script
    src="https://kit.fontawesome.com/2d323a629b.js"
    crossorigin="anonymous"
    ></script>
</head>

<body>
    <div class="box-container">
        <div class="PersonProfile">
            <img class="WorryPageProfile"src="/src/images/wittgenstein.jpeg"
            >
            </img>
            <span class="name"> Wittgenstein</span>
        </div>
        <img class="ShowOffPageProfile"  src="/src/images/showOffpageimage.png">
        </img>
        <div class="viewsIcon-container">
            <span class="views"> 15 people made answers</span>
                <ul class="actions">
                    <li>    <button> <i class="fas fa-bookmark"></i></button>    </li>
                    <li>    <button> <i class="fas fa-comment"></i></button>    </li>
                    <li> 
                        <button> <i class="fas fa-share"></i> </button>   </li>
                </ul>
        </div>
        <div class="SubText">
            New family Members
            <br>
            how adorable they are~
        </div>
    </div>

</body>