<!DOCTYPE html>
<html>
    <head>

        <title>

        </title>

        <link rel="stylesheet" href="WorriedRegister.css"/>

    </head>
    <body>
       
        <table class="table-register">
            <tr>
                <th class="active">Title</th>
                <td colspan="5">
                    <input class="form-control-1" id="title" messages="제목을 입력하세요." name="title" reqcheck="reqcheck"
                        style="width:100%; height:6vh" type="text" rows="1" />
                </td>
            </tr>
            <tr>
                <th class="active">Content</th>
                    <td colspan="5">
                        <textarea class="form-control-2" reqcheck="reqcheck" editerMode="true" rows="20"
                          style="width:100%; height:60vh; margin-top:5vh;">

                        </textarea>
                    </td>
            </tr>
        </table>
        <div class="article-register">
            <button type="button" class="btn btn-register">

                Register </button>
            
        </div>
    </body>

</html>