<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <title>Your worries</title>
        <link rel="stylesheet" href="Worried.css">
        <script
            src="https://kit.fontawesome.com/2d323a629b.js"
            crossorigin="anonymous"
        ></script>
    </head>

    <body class="flex-container">
        
        <article class="worryFirst">
            <h1> Anyone hear my voice</h1>
            <br>
            <p>today I(16M) asked my brother(18M) to go on a fe.w kilometer run with me because he spends so much time on the pc. 
                He just started yelling and ranting at me that I don't know what I'm talking about and that I should kill myself. It seemed so strange yet it seemed like 
                he means it, he always seems to hate on me for no reason. </p>
            <!-- 하나의 p태그로 묶을지 여러개의p 태그로 구성할지 고민 -->
            <br>
            <div class="viewsIcon-container">
                <span class="views"> 15 people made answers</span>
                <ul class="actions">
                
                <li>    <button> <i class="fas fa-bookmark"></i></button>    </li>
                <li>    <button> <i class="fas fa-comment"></i></button>    </li>
                <li> 
                    <button> <i class="fas fa-share"></i> </button>   </li>
                </ul>
            </div>

        </article>

        <article class="WorrySecond">
            <h1>My pets are sick</h1>
            <br>
            <p>today I(16M) asked my brother(18M) to go on a fe.w kilometer run with me because he spends so much time on the pc. 
                He just started yelling and ranting at me that I don't know what I'm talking about and that I should kill myself. It seemed so strange yet it seemed like he means it, 
                he always seems to hate on me for no reason.</p>
                <br>
                <div class="viewsIcon-container">
                    <span class="views"> 15 people made answers</span>
                    <ul class="actions">
                    
                    <li>    <button> <i class="fas fa-bookmark"></i></button>    </li>
                    <li>    <button> <i class="fas fa-comment"></i></button>    </li>
                    <li> 
                        <button> <i class="fas fa-share"></i> </button>   </li>
                    </ul>
                </div>
        </article>

        <article class="WorryThird">
            <h1>My pets are sick</h1>
            <br>
            <p>today I(16M) asked my brother(18M) to go on a fe.w kilometer run with me because he spends so much time on the pc. 
                He just started yelling and ranting at me that I don't know what I'm talking about and that I should kill myself. It seemed so strange yet it seemed like he means it, 
                he always seems to hate on me for no reason.</p>
                <br>
                <div class="viewsIcon-container">
                    <span class="views"> 15 people made answers</span>
                    <ul class="actions">
                    
                    <li>    <button> <i class="fas fa-bookmark"></i></button>    </li>
                    <li>    <button> <i class="fas fa-comment"></i></button>    </li>
                    <li> 
                        <button> <i class="fas fa-share"></i> </button>   </li>
                    </ul>
                </div>
        </article>

    </body>
</html>