:root{
    --font-large:18px;
    --font-medium:14px;
    --font-small:12px;
    --font-micro:10px;
}
*{

    padding:0;
    margin: 0;
    box-sizing:border-box;


}
.title{
    font-size:3em;
}
header{
    display:flex;
    justify-content: space-between;
    padding:12px;

}
body .worryFirst h1{
    font-size: 1.7em;
    font-family:"Roboto"
}
body .worrySecond h1{
    font-size: 1.7em;
    font-family:"Roboto"
}
body .worryThird h1{
    font-size: 1.7em;
    font-family:"Roboto"
}

body{

    font-family:"Roboto";
}

 

.flex-container{
    display:flex;
    flex-direction:column;
}

.viewsIcon-container{

    display:inline-flex;
    align-items:flex-end;
}

body .worryFirst{
    margin-top:30px;

    margin-left:40px;
    width: 70vw;
    font-family:"Roboto";
      
}
.views{
    width: 70vw;
    font-family:"Roboto";
    text-align:left;
    margin-bottom:10px;
}


.worrySecond{
    margin-top:30px;
    margin-left:40px;
    width: 50vw;
    font-family:"Roboto";
}
/*차이는 모르겠지맘ㄴ body.worryThird로 해도 되고 그냥 worryThird로 해도 된다*/
.worryThird{
    margin-top:30px;
    margin-left:40px;
    width: 50vw;
    font-family:"Roboto";
}
.align-items-center{
    align-items:center !important;

}
/*action buttons*/
.actions{
    display:flex;
    justify-content:space-around;
  
    /*align-items: flex-end;*/

}
.actions button{
    display:flex;
    padding:10px;
    flex-direction:column;
    border: 1px;
    background-color:transparent;
}
ul{
    list-style: none;
    font-size:var(--font-medium);
}
button,
button:focus{
    border:none;
    cursor:pointer;
    outline:none;
    font-size:30px;
}

