@import url(//fonts.googleapis.com/css?family=Bungee&subset=latin);
@import url(//fonts.googleapis.com/css?family=Gravitas+One&subset=latin);
@import url(//fonts.googleapis.com/css?family=Fjalla+One&subset=latin);
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

#login {
  .logo {
    margin: 20px;
    width: 200px;
  }

  .signin {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;

    padding: 10px;
    border-radius: 10px;
    background-color: none;
  }
  .title {
    font-family: "Righteous", sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
  }
  .box {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-flow: column;
  }

  .box input,
  .box button {
    padding-top: 3px;
    padding-bottom: 3px;

    line-height: 18px;

    transition: 0.6s;
    transition-delay: 0.1s;
  }
  .box input {
    width: 200px;
    margin-top: 15px;
    border: 1px solid black;

    font-size: 12px;
    text-align: center;
    padding-left: 10px;
    font-family: "Fjalla One", sans-serif;
    letter-spacing: 0.8px;
  }
  .box input:hover,
  .box input:focus {
    width: 300px;
    transition: 0.6s;
  }

  .box input::placeholder {
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    color: gray;
  }
  .box button {
    width: 100px;

    border-radius: 13px;
    margin-top: 20px;

    background-color: #ffa74e;
    color: black;
    font-size: 13px;
    font-family: "Righteous", sans-serif;
    border: none;
  }
  .box button:hover {
    cursor: pointer;
    background-color: #4dffff;
    transition: 0.9s;
  }

  .login_error {
    margin-top: 10px;
    font-size: 12px;
    color: #b33636;
    font-family: Arial, Helvetica, sans-serif;
  }

  .background {
    position: absolute;
    bottom: 0px;
    right: 50%;
    transform: translate(50%, 0%);
    z-index: -1;
  }
}
