#entrust {
  flex: 1;
  position: relative;
  min-width: 500px;
  overflow-y: auto;
  .title {
    font-size: 2em;
    font-weight: 600;
  }
  .formbox {
    width: 70%;
    margin: 20px auto 0 auto;
    & > * > .name {
      font-size: 1.2em;
      margin-bottom: 8px;
      text-align: start;
    }
    .pets {
      .box {
        display: flex;
        margin: 15px 0 20px 20px;
        .item {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 67px;
          border-radius: 5%;
          padding: 0 8px;
          margin-right: 3px;
          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
        .checked {
          background-color: gray;
        }
        .checked_name {
          color: white;
        }
        .image {
          height: 50px;
          width: 100%;

          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 100%;
        }
        .petname {
          width: 66px;
          overflow: hidden;
          text-overflow: ellipsis;

          font-size: 0.8em;
          align-self: center;
        }
        .noplus {
          position: absolute;
          left: 50%;
          top: 0;
          height: 50px;
          width: 50px;
          opacity: 0%;
          transform: translateX(-50%);
          &:hover {
            opacity: 100%;
            cursor: pointer;
            transition: 0.2s ease;
          }
        }
        .plus img:hover {
          filter: opacity(80%);
          cursor: pointer;
        }
      }
    }
    .tablebox {
      display: grid;
      grid-template-columns: 120px 300px;
      grid-template-rows: auto auto auto;
      row-gap: 20px;
      margin: 0 30px;

      .name {
        font-size: 1.3em;
        text-align: start;
      }

      .dateInput {
        display: flex;
        border-bottom: 1px solid black;
        input {
          flex: 1;
          text-decoration: none;
          border: none;
          text-align: center;
          letter-spacing: 1px;
        }
        i {
          font-size: 1.3em;
          color: #ff3232;
          cursor: pointer;
        }
      }

      .housingform {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        // border: 1px solid black;

        .item {
          background-color: #ff3232;
          color: white;
          border-radius: 10px;
          height: fit-content;
          line-height: 1.3em;
          padding: 0 8px 0 8px;
          margin-right: 5px;
        }
        .item:hover {
          background-color: #ff3232d0;
          cursor: pointer;
        }
        .blue {
          background-color: rgb(1, 1, 121);
          &:hover {
            background-color: rgba(1, 1, 121, 0.8);
          }
        }
      }
      textarea {
        resize: none;
      }
    }
  }
  .submit {
    color: white;
    background-color: #ff3232;
    border: none;
    font-size: 1.3em;
    padding: 0 10px;
    border-radius: 100px;
    margin: 30px;
    &:hover {
      opacity: 0.9;

      cursor: pointer;
    }
  }
}
