@import url("https://fonts.googleapis.com/css2?family=Risque&display=swap");

#petCard {
  width: 100%;
  height: 100%;

  display: flex;
  // border: 1px solid black;

  .profileImg {
    height: 4em;
    width: 4em;
    border-radius: 100%;
    // border: 1px solid red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    margin: auto;
  }

  .box {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5%;

    font-family: Risque, "san-sarif";

    .name {
      font-size: 1.7em;
      padding-top: 3%;
    }
    .yeargender {
      display: flex;
      justify-content: space-between;
      .male {
        color: blue;
      }
      .female {
        color: red;
      }
    }
    .species {
      align-self: flex-start;
      padding-bottom: 5%;
    }
  }
}
