#Risque{
  font-family: 'Risque', cursive;
}
#Roboto{
  font-family: 'Roboto', sans-serif;
}
 
 #choosing_page{
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* grid-template-columns: 200px 1fr; */
    justify-content: center;
  }
  #showing_block{
    display: block;
    
  }
  #showing_block .head { 
    text-align: center; 
    }
  #pet_cards_list{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    /* align-self: stretch; */
  }
 #petCard {
   display:grid;
   grid-template-rows: 3fr 12vw;
    width: 25vw;
    height:35vw;
    
    /* min-width: 30vw; */
    /* display: flex;
    flex-direction: column; */
    border:1px solid; 
    /* border: 1px solid #000000; */
    box-sizing: border-box;
    border-radius: 17px;
    padding:1.2em;
    /* padding-left: 1.0em; */
    
    
  }
  #petCard #pet_main_info {
    display: flex;
  }
  #petCard #pet_main_info .box {
    width: 70%;
    height: 100%;
    display: grid;
    /* flex-direction: column; */
    justify-content: center;
    justify-items: center;
    grid-template-rows: 16vw 2.3vw 1.5vw;
    /* row-gap: -2vw; */
    /* justify-content: space-evenly; */
    padding-left: 8%;
    font-family: Risque, "san-sarif";
  }
  #petCard #pet_main_info .box .profileImg {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    /* margin: auto; */
  }
  #petCard #pet_main_info .box .name {
    font-size: 1.7em;
    font-family: Risque;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 0em;
    text-align: center;

    /* padding-top: 3%; */
  }
  #petCard #pet_main_info .box .yeargender {
    /* display: flex; */
    /* justify-content: space-between; */
    font-family: Risque;
/* font-size: 12px; */
font-style: normal;
font-weight: 400;
line-height: 1.4em;
letter-spacing: 0em;
text-align: center;

    font-size: 1.2em;
  }
  #petCard #pet_main_info .box .yeargender .male {
    color: blue;
  }
  #petCard #pet_main_info .box .yeargender .female {
    color: red;
  }
  #petCard #pet_main_info .box .species {
    font-family: Risque;
font-size: 1.2em;
font-style: normal;
font-weight: 400;
line-height: 1.4em;
letter-spacing: 0em;
text-align: left;

    /* align-self: flex-start; */
    /* padding-bottom: 10%; */
    
  }
  #petCard #pet_main_info #ratio{
    display:grid;
    grid-template-rows: 17vw 1fr;
  }
  #petCard #pet_main_info #ratio .ratio{
    font-family: Roboto;
font-size: 1.2em;
font-style: normal;
font-weight: 400;
line-height: 1.4em;
letter-spacing: 0em;
text-align: center;

  }
  #petCard #pet_desc_bnt{
    display: grid;
    grid-template-rows: 5.5vw;
    justify-items: center;
    /* justify-content: center; */
    padding:10px;
  }
  #petCard #pet_desc_bnt .btn_apply {
    justify-items: center;
    padding:10px;
  }
  #petCard #pet_desc_bnt .description{
    font-family: Risque;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0em;
    text-align: left;
    
  }
  #filter_list{
    position: absolute;
width: 17vw;
height: 50vw;
left: 80vw;
top: 7.0vw;

border: 1px solid #000000;
box-sizing: border-box;
border-radius: 6px;
/* margin-left: auto; */
  }
  #filter_list ul{
      list-style:none;
  }
  #filter_list .filtering .filter_head{
    font-family: Risque;
    font-size: 2.0em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 0em;
    text-align: center; 
  }
  #filter_list .filtering .filter_list{
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    
    /* margin-left: auto; */
  }
  #filter_list .filtering .filter_contents{
    font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
  }
  #filter_list .advanced_fiiltering .adv_filter_head{
    font-family: Risque;
    font-size: 2.0em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 0em;
    text-align: center;
  }
  #filter_list .advanced_fiiltering .adv_filter_list{
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    /* margin-left: 1.0em; */
    /* margin-right: 2.0em; */
  }
  /* .ul{
    list-style:none;
    } */
  #filter_list .advanced_fiiltering .adv_filter_contents{
    font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
  }
  .ul{
    list-style:none;
    }